<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cc.shencai.commonlibrary"
    >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!--以下是二维码扫描相关-->
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 照相机 -->
    <uses-feature android:name="android.hardware.camera"/>
    <!-- 自动对焦 -->
    <uses-feature android:name="android.hardware.camera.autofocus"/>




    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".lib_zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>
